backend/users-api/.env
backend/users-api/node_modules
backend/users-api/test-requests.http
backend/entries-api/.env
backend/entries-api/node_modules/
backend/entries-api/test-requests.http
backend/pw-reset-api/.env
backend/pw-reset-api/node_modules/
backend/pw-reset-api/test-requests.http
frontend/.env
frontend/node_modules
.gitignore
backend/entries-microservice/.env
